


/*.App-header {
  background-color: rgba(3, 152, 158, 0.25);
  /* 195, 222, 252 
  min-height: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  
}*/
label {
  margin-left: 10px;
}


.css-dqr9h-MuiRating-label{
  text-align: right;
}
.page-header {
  font-family: "Big Shoulders Display";
  font-size: 190px;
  font-weight: 800;
  margin: 2px;
  background: linear-gradient(to top,
  rgba(255,249,174, .8) 20%, 
  rgba(255,255,255, .3) 90%
);
  background-clip:text;
  color:transparent;
  /*-webkit-text-stroke: 0.1px #AFDFE6;*/
  
}

.page-subheader {
  font-family: "Big Shoulders Display";
  font-size: auto;
  margin: 10px;
  color: white;

}

.add-and-search-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin-top: 30px;
  width: auto;
  background-color: #E9DCC9;
  font-family: "Open Sans";
  font-size: 22px;
}

.search-bar {
  padding: 15px;
  margin: 5px 5px 5px 5px;
  padding-right: 200px;
  margin-right: 100px;
  margin-left: 10px;
  font-family: "Open Sans";
  font-size: 18px;
  background-color: #C3DEFC;
}

.search-bar:focus {
  outline: 4px solid  #002147;
}

.add-button {
  font-family: "Open Sans";
  font-size: 22px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #C3DEFC;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.add-button:hover {background-color: #82BBFB}

.add-button:active {
  background-color: #82BBFB;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*.results-list-headings{
  display: grid;
  margin-top: 200px;
  margin-bottom: 500px;
  font-family: "Open Sans";
  color: white;
  

}*/

.results-item {
  display: grid;
  padding: 50px;
  background-color: #C3DEFC
}


.results-list {
  overflow-y: scroll; 
  height:500px;
  display: grid;
  align-items: center;
  column-gap: 5px;
  row-gap: 6px;
  align-items: center;
  align-content: center;
  margin-left: 20px;
  padding-top: 600px;
  margin-top: 100px;
  
  
}

#resource-link {
  font-family: "Open Sans";
  font-size: 20px;
}
#resource-category {
  font-family: "Open Sans";
  font-size: 18px;
  text-decoration: dashed;
}
#resource-language {
  font-family: "Open Sans";
  font-size: 18px;
}
#resource-comment {
  font-family: "Open Sans";
  font-size: 14px;
}
#resource-date {
  font-family: "Open Sans";
  font-size: 12px;
}

.footer {
background-color: rgba(3, 152, 158, 0.25);
  /* 195, 222, 252 */
 margin-top: auto;
 min-height: 100px;
}

.App-header {
  min-height: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid white;
  
  background: linear-gradient(270deg, #3aa186, #1977d4, #89c1b7);
  background-size: 600% 600%;

  -webkit-animation: lumenheader 15s ease infinite;
  -moz-animation: lumenheader 15s ease infinite;
  animation: lumenheader 15s ease infinite;
}

@-webkit-keyframes lumenheader {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes lumenheader {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes lumenheader {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
