.App {
  text-align: center;
}


.App-header {
  background-color: rgba(3, 152, 158, 0.34);
  height: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
  
}

.page-header {
  font-family: "Big Shoulders Display";
  font-size: 128px;
  font-weight: 800;
  background: linear-gradient(to top,
  rgba(255,249,174, .8) 20%, 
  rgba(255,255,255, .3) 90%
);
  background-clip:text;
  color:transparent;
  /*-webkit-text-stroke: 0.1px #AFDFE6;*/
  
}

.search-bar-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 59px;
  width: auto;
  background-color:#F8ECE1;
  font-family: "Open Sans"
}

.search-bar {
  padding: 10px;
  margin: 5px 5px 5px 5px;
  padding-right: 200px;
  font-family: "Open Sans"
}

.search-bar:focus {
  outline: 4px solid #03989e;
}