.App {
  text-align: center;
  background-color: #002147;
  display:flex;
  flex-direction: column;
}


.App-header {
  background-color: rgba(3, 152, 158, 0.25);
  /* 195, 222, 252 */
  min-height: 150;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: auto;
  align-self: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-grow: 0;
  flex-shrink: 0;
  
  
}

.App-body {
  flex-grow:1;
}


.page-header {
  font-family: "Big Shoulders Display";
  font-size: 190px;
  font-weight: 800;
  margin-top: 2px;
  margin-bottom: -34px;
  /*-webkit-text-stroke: 0.1px #AFDFE6;*/
  background: linear-gradient(270deg, rgba(255,249,174, .8) 20%,  rgba(255,255,255, .3) 90%);
  background-size: 600% 600%;
  background-clip:text;
  color:transparent;
  -webkit-animation: lumenheader 15s ease infinite;
  -moz-animation: lumenheader 15s ease infinite;
  animation: lumenheader 15s ease infinite;
}
@-webkit-keyframes lumenheader {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes lumenheader {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes lumenheader {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.page-subheader {
  font-family: "Big Shoulders Display";
  font-size: auto;
  margin-bottom: 30px;
  color: white;
}

.add-and-search-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  margin-top: 30px;
  width: auto;
  background-color: #FFFDDD;
  font-family: "Open Sans";
  font-size: 22px;
}

label {
  margin-left: 10px;
}

.search-bar {
  padding: 15px;
  margin: 5px 5px 5px 5px;
  padding-right: 200px;
  margin-right: 100px;
  margin-left: 10px;
  font-family: "Open Sans";
  font-size: 18px;
  background-color: #C3DEFC;
}

.search-bar:focus {
  outline: 4px solid  #002147;
}

.add-button {
  font-family: "Open Sans";
  font-size: 22px;
  text-align: center;
  margin-left: 80px;
  margin-right: 50px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #C3DEFC;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.add-button:hover {background-color: #82BBFB}

.add-button:active {
  background-color: #82BBFB;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.table {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #C3DEFC;
  
}

.results-list {
  overflow-y: scroll; 
  height:580px;
}

.footer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow:0;
  margin-top: 10px;
  padding-top: -15px;
  


  
  
 }

.footer h1 {
 
 flex:1;
 max-height: 80px;
 margin-top: 80px;
 margin-bottom: -15px;
 font-family: "Big Shoulders Display";
 font-size: 40px;
 font-weight: 400;
 color: #ff904d;
 text-shadow: rgba(255,144,4,0.61) 0px 0px 120px
}

.footer h2 {
  
  flex:1;
  font-family: "Big Shoulders Display";
  font-size: 25px;
  font-weight: 30;
  color:white;

 }



.results-table{
  width:100%;
  font-family: "Open Sans";
  font-size:20px;
  overflow: auto; 
  border-collapse: collapse; 
  
}


.table-headers{
  
  align-self: auto;
  font-family: "Big Shoulders Display";
  font-weight:800;
  font-size:40px;
  color:    rgba(255,249,174) ;
  background-color: #002147;
  position: sticky; 
  top: 0; 
  z-index: 1; 
}

/*
.table-header :nth-child(0) {
  flex-grow: 1;
}

.table-header :nth-child(1) {
  flex-grow: 2;
}

.table-header :nth-child(2) {
  flex-grow: 3;
}

.table-header :nth-child(3) {
  flex-grow: 4;
}
*/