.popup{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.popup-inner {
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;
    width: auto;
    height: auto;
    background-color:#E9DCC9;
    box-shadow: 1px 1px 100px #CDCBC1;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;

}

.form {
    display: flex;
    height: 40vh;
    width: 30vh;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
    border-radius: 5px;
}
/* .details {
    display: flex;
    flex-wrap: wrap;
    width: calc (100% /2 -20px);
} */
.form label {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

