.popup{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.popup-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;
    margin-top: 10vh;
    width: auto;
    min-height: 60vh;
    background-color:#E9DCC9;
    box-shadow: 1px 1px 100px #CDCBC1;
    overflow: auto;
    flex: 1;
    border-radius: 15px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    font-family: "Open Sans";
    font-size: 14px;
    margin-right: 6vh;
    margin-top: 2em;

}

.form {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 18px;
}
/* .details {
    display: flex;
    flex-wrap: wrap;
    width: calc (100% /2 -20px);
} */
.form label {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

textarea {
    width: 340px;
    height: 110px;
}

input {
    width: 200px;
    
}

